<section>
  <div class="header-container">
    <h1>Alert history</h1>
    <h3>
      You can keep track your already triggered alerts here. They are ordered
      chronologically!
    </h3>
  </div>
  <div class="body-container">
    <div class="history-container">
      <h2>
        ALERT TRIGGERED AT
        <span class="highlight">03/26/21 11:01:32 AM UTC</span>
      </h2>
      <p>
        Your <span class="highlight" style="font-size: 20px">XRP</span> alert
        has been triggered. Condition:
        <i class="highlight">Alert me when the price is greater than $0.55.</i>
        Check the current price of XRP here .
      </p>
    </div>
  </div>
</section>
