.body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

h1 {
  color: var(--bitcoin-color);
  font-size: 60px;
  padding-bottom: 1rem;
}

.history-container {
  color: var(--main-bg-color);
  border: 1px solid var(--main-bg-color);
  padding: 1rem 2rem;
  border-radius: 5px;
}

.highlight {
  color: var(--bitcoin-color);
}
