a {
  width: 95%;
}

.item {
  display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.4fr 0.3fr 0.3fr 0.5fr 0.5fr 0.4fr;
  width: 100%;
  border-bottom: 1px solid rgb(180, 180, 180);
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding-top: 15px;
}

.item:first-child {
  border-top: 1px solid rgb(180, 180, 180);
}

.item:hover,
.item:active {
  color: black;
  background-color: #ccc;
}

.btn {
  border: none;
  background-color: var(--main-bg-color);
  color: white;
  width: 7rem;
  justify-items: center;
  margin-bottom: 15px;
  transition: 0.3s ease;
}

.btn:hover,
.btn:focus {
  background-color: #fff;
  color: var(--main-bg-color);
  box-shadow: 0 0 3px 3px var(--bitcoin-color);
}

.index {
  margin-left: 2rem;
}
