<section class="nav-bar">
  <div class="navbar-container">
    <div class="logo-container">
      <img [src]="imageSrc" alt="header-logo" width="120px" />
      <a href="" class="nav-bar-brand">Coinbase-Alert</a>
    </div>

    <div class="btn-wrapper">
      <div class="search-element" *ngIf="isAuthenticated">
        <form role="search">
          <input
            class="form-container"
            type="search"
            placeholder="Search crypto"
            aria-label="Search"
            [formControl]="searchInput"
            #searchInputElement
            (click)="preventPageReloadOnEnter($event)"
          />
        </form>
        <section
          class="search-result"
          *ngIf="searchResults$ | async as searchResults"
          [ngClass]="{ hideSearchResults: !isSearcResulthWindowOpen }"
        >
          <div
            class="search-row"
            *ngFor="let searchItem of searchResults"
            (click)="setCryptoName(searchItem.slug)"
          >
            <p class="search-content">{{ searchItem.symbol }}</p>
          </div>
        </section>
        <ng-container *ngIf="isLoading">
          <app-search-spinner
            [ngClass]="{ spinner: isLoading }"
          ></app-search-spinner>
        </ng-container>
      </div>
      <div class="btns">
        <button
          class="btn btn-login"
          type="button"
          routerLink="/login"
          *ngIf="!isAuthenticated"
        >
          Sign in
        </button>
        <button
          class="btn btn-login btn-logout"
          type="button"
          routerLink="/login"
          *ngIf="isAuthenticated"
          (click)="onLogout()"
        >
          Logout
        </button>
        <button
          class="btn btn-register"
          type="button"
          routerLink="/sign-up"
          *ngIf="!isAuthenticated"
        >
          Sign up
        </button>
      </div>
    </div>
  </div>
</section>
