<section *ngIf="!isLoading">
  <div class="alert alert-danger" *ngIf="error !== null">
    <p>{{ error }}</p>
  </div>
  <main class="register-container">
    <header><h1>Create an account</h1></header>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div class="input-container">
        <label for="emailFormControl" class="form-label">Email address</label>
        <input
          type="email"
          class="form"
          placeholder="name@example.com"
          id="emailFormControl"
          formControlName="email"
        />
        <ng-container *ngIf="email?.touched">
          <small style="color: red" *ngIf="email?.errors?.['required']"
            >Adding an email is required!</small
          >
        </ng-container>
      </div>
      <!-- <div class="input-container">
        <label for="Username" class="form-label">Username</label>
        <input
          type="text"
          class="form"
          placeholder="szeretemabanántot"
          id="Username"
          formControlName="username"
        />
      </div> -->
      <div class="input-container">
        <label for="password" class="form-label">Password</label>
        <input
          type="password"
          class="form"
          id="password"
          formControlName="password"
        />
        <ng-container *ngIf="password?.touched">
          <small style="color: red" *ngIf="email?.errors?.['required']"
            >Add at least 6 characters for your password!</small
          >
        </ng-container>
      </div>
      <div class="input-container">
        <label for="password" class="form-label">Confirm Password</label>
        <input
          type="password"
          class="form"
          id="password"
          formControlName="confirmedPassword"
        />
        <ng-container *ngIf="password?.touched">
          <small
            style="color: red"
            *ngIf="email?.errors?.['passwordsDontMatch']"
            >Your passwords don't match!</small
          >
        </ng-container>
      </div>
      <div class="button-container">
        <button
          class="button"
          type="submit"
          [disabled]="!registrationForm.valid"
          *ngIf="!isLoading"
        >
          Register
        </button>
      </div>
    </form>
  </main>
</section>
<ng-container *ngIf="isLoading">
  <app-loading-spinner></app-loading-spinner>
</ng-container>
