<section>
  <div class="header-container">
    <h1>Manage your alerts here!</h1>
    <h3>
      Here you can set an alert based on price changes. You will receive a
      notification on this page if your alert was triggered!
    </h3>
  </div>
  <div class="body-container">
    <div class="alert-container">
      <form action="">
        <div class="alert-container-header">
          <p>Set an alert!</p>
        </div>
        <p>Alert me when the price of</p>
        <div class="alert-details">
          <select name="crypto-name" id="select">
            <option selected disabled>Select a crypto</option>
            <!-- <option *ngFor="let cryptoItem of cryptoItems" [value]="cryptoItem">{{ cryptoItem }}</option> -->
          </select>
          <select name="condition" id="select">
            <option value="">is greater than or equal</option>
            <option value="">is less than or equal</option>
          </select>
          <div class="input-details">
            <input type="text" [value]="5000" />
            <p class="input-note">
              *The prices here are in US dollar. Please keep this in mind when
              setting an alert!
            </p>
          </div>
        </div>
        <div class="submit-button">
          <button>Create Alert</button>
        </div>
      </form>
    </div>
  </div>
</section>
