<section>
  <div class="header-container">
    <h1>Create an alert here!</h1>
    <h3>
      Here you can set an alert based on price changes. You will receive a
      notification on this page if your alert was triggered!
    </h3>
  </div>
  <div class="body-container">
    <div class="alert-container">
      <ng-container *ngIf="cryptoItems$ | async as items; else loading">
        <app-alert-panel
          [cryptoItems]="items"
          (alertObject)="onPostObject($event)"
        ></app-alert-panel>
      </ng-container>
      <ng-template #loading>
        <ng-container>
          <app-loading-spinner></app-loading-spinner>
        </ng-container>
      </ng-template>
    </div>
  </div>
</section>
