.main-container {
  display: flex;
  justify-content: center;
  align-content: center;
}

h1 {
  color: var(--bitcoin-color);
  font-size: 60px;
  padding-bottom: 1rem;
}

.comment-section-wrapper {
  display: flex;

  margin-top: 2rem;
  flex-direction: column;
}

.new-comment-section {
  display: flex;
  justify-content: center;
  align-content: center;
}

hr {
  color: var(--main-bg-color);
  width: 60rem;
}
