.main-container {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  color: white;
}

.alert-item {
  border-radius: 5px;
  background-color: var(--main-bg-color);
  padding: 1rem 2rem;
  gap: 1rem;
}

.alert-item:last-child {
  margin-bottom: 3rem;
}

.text-container {
  margin-right: 7rem;
  width: 100%;
}

.alert-item {
  display: flex;
  border: 1px solid #ccc;
}

.index {
  display: flex;
  align-items: center;
  padding: 0 2rem 0 0;
  font-size: 1.5rem;
}

.item-title {
  font-size: 1.3rem;
  color: var(--bitcoin-color);
}

.functions-container {
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: var(--main-bg-color);
  border-radius: 5px;
  margin-left: 0.5rem;
}

button:hover,
button:active {
  box-shadow: 0 0 3px 3px var(--bitcoin-color);
}
