<section class="main-container">
  <div class="alerts-container">
    <div
      class="alert-item"
      *ngFor="let alertObject of alertObjects; index as i"
    >
      <p class="index">{{ i + 1 + "." }}</p>
      <div class="text-container">
        <p class="item-title">
          Alert for:
          <span style="font-size: 28px">{{ alertObject.cryptoName }}</span>
        </p>
        <p class="item-text">
          Alert me when the price of {{ alertObject.cryptoName }} is equal or
          <span>
            {{ alertObject.isGreater === true ? "greater" : "less" }}</span
          >
          than
          <span [ngStyle]="{ color: '#f7931a' }" style="font-size: 20px">{{
            "$" + alertObject.price
          }}</span>
        </p>
      </div>
      <div class="functions-container">
        <button
          class="button edit-button"
          (click)="setEditModeAndAlertItem(alertObject)"
        >
          Edit
        </button>
        <button
          class="button delete-buttion"
          (click)="onDeleteAlertItem(alertObject)"
        >
          Delete
        </button>
        <button class="button toggle-button">Toggle</button>
      </div>
    </div>
    <ng-container *ngIf="isEditMode">
      <div class="edit-panel-container">
        <app-alert-panel
          class="edit-panel"
          (alertObject)="editingAlertObject($event)"
        ></app-alert-panel>
      </div>
    </ng-container>
  </div>
</section>
