<section class="main-container">
  <div class="alerts-container">
    <div class="alert-item">
      <p class="index">1.</p>
      <div class="text-container">
        <p class="item-title">Alert for: Bitcoin</p>
        <p class="item-text">
          Alert me when the price of Bitcoin is greater than 100000
        </p>
      </div>
      <div class="functions-container">
        <button class="button edit-button">Edit</button>
        <button class="button delete-buttion">Delete</button>
        <button class="button toggle-button">Toggle</button>
      </div>
    </div>
  </div>
</section>
