<section>
  <main class="login-container">
    <div class="login-details-container">
      <header><h1>Welcome back!</h1></header>
      <form
        [formGroup]="loginForm"
        (ngSubmit)="onSubmit()"
        class="form-container"
      >
        <div class="input-container">
          <label for="emailFormControl">Email address</label>
          <input
            type="email"
            class="form"
            id="emailFormControl"
            formControlName="email"
          />
        </div>
        <div class="input-container">
          <label for="password">Password</label>
          <input
            type="password"
            class="form"
            id="password"
            formControlName="password"
          />
        </div>

        <div class="button-container">
          <button class="button" type="submit">Login</button>
        </div>
      </form>
      <hr />
    </div>
    <div class="register-container">
      <p class="register-question">Don't yet have an account?</p>
      <div class="button-container">
        <button
          class="button button-signup"
          type="submit"
          routerLink="/sign-up"
        >
          Sign up here!
        </button>
      </div>
    </div>
  </main>
</section>
