.page-wrapper {
  background-color: rgb(235, 235, 235);
  height: 100%;
}

.main-container-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.list-items {
  margin-top: 3rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

.login-container {
  display: flex;
  margin-top: 8rem;
  justify-content: center;
  align-items: center;
}
