.page-wrapper {
  background-color: rgb(235, 235, 235);
  height: 100%;
}

.main-container-body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.listitems {
  margin-top: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}
