<div class="alert-container" [ngSwitch]="isAlertMode | async">
  <form
    [formGroup]="newAlertForm"
    (ngSubmit)="onCreateAlert()"
    *ngSwitchCase="'create'"
  >
    <div class="alert-container-header">
      <p *ngSwitchCase="'create'">Set an alert!</p>
    </div>
    <p>Alert me when the price of</p>
    <div class="alert-details">
      <select name="crypto-name" id="select" formControlName="cryptoName">
        <option [ngValue]="null" disabled>
          Please select a cryptocurrency:
        </option>
        <ng-container *ngIf="cryptoItems$ | async as items; else loading">
          <option *ngFor="let item of items" [ngValue]="item.symbol">
            {{ item.symbol }}
          </option>
        </ng-container>
        <ng-template #loading>
          <option>Loading...</option>
        </ng-template>
      </select>
      <select name="condition" id="select" formControlName="isGreater">
        <option [ngValue]="null" disabled>Please select a condition:</option>
        <option [ngValue]="true">is greater than or equal</option>
        <option [ngValue]="false">is less than or equal</option>
      </select>
      <div class="input-details">
        <input type="text" formControlName="price" />
        <p class="input-note">
          *The prices here are in US dollar. Please keep this in mind when
          setting an alert!
        </p>
      </div>
    </div>
    <div class="submit-button">
      <button type="submit">Create alert</button>
    </div>
  </form>
  <form
    [formGroup]="newAlertForm"
    (ngSubmit)="onEditAlert()"
    *ngSwitchCase="'edit'"
  >
    <div class="alert-container-header">
      <p>Edit your alert!</p>
    </div>
    <p>Alert me when the price of</p>
    <div class="alert-details">
      <select name="crypto-name" id="select" formControlName="cryptoName">
        <option [ngValue]="editedCryptoItemObject.cryptoName">
          {{ editedCryptoItemObject.cryptoName }}
        </option>
      </select>
      <select name="condition" id="select" formControlName="isGreater">
        <option [ngValue]="null" disabled>Please select a condition:</option>
        <option [ngValue]="true">is greater than or equal</option>
        <option [ngValue]="false">is less than or equal</option>
      </select>
      <div class="input-details">
        <input type="text" formControlName="price" />
        <p class="input-note">
          *The prices here are in US dollar. Please keep this in mind when
          setting an alert!
        </p>
      </div>
    </div>
    <div class="submit-button">
      <button type="submit">Edit alert</button>
      <button
        type="button"
        class="btn-close"
        (click)="hideAlertPanel()"
      ></button>
    </div>
  </form>
</div>
