<section>
  <div class="header-container">
    <h1>Your alerts list!</h1>
    <h3>
      You can see all your active and disabled alerts here. <br />
      Did you change your mind? Don't worry, you can modify or even delete your
      alerts!
    </h3>
  </div>
  <div class="body-container">
    <div class="alerts-list-container">
      <ng-container *ngIf="alertItemList$ | async as alertItemList">
        <app-alert-item
          [alertObjects]="alertItemList"
          (deletedAlertObject)="deleteAlertObject($event)"
          (editedAlertObject)="editAlertObject($event)"
        ></app-alert-item>
      </ng-container>
    </div>
  </div>
</section>
